
# Created by https://www.toptal.com/developers/gitignore/api/phoenix,elixir
# Edit at https://www.toptal.com/developers/gitignore?templates=phoenix,elixir

### Elixir ###
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
/priv/plts/*.plt
/priv/plts/*.plt.hash

### Phoenix ###
/tmp

# Static artifacts
/node_modules
/assets/node_modules
/priv/static/

# Installer-related files
/installer/_build
/installer/tmp
/installer/doc
/installer/deps

# System Files
.DS_Store
Thumbs.db

# Ignore generated js hook files for components
assets/js/_hooks/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.history/*
