<!-- TODO: add a row and column and then align vertically -->
<div class="embed-responsive embed-responsive-1by1 loading justify-content-center">
    <video class="embed-responsive-item" autoplay muted loop>
        <source src="<%= Routes.static_path(@socket, "/images/loading.webm") %>" type="video/webm">
        Your browser does not support the video tag.
    </video>
</div>
