@use "../variables";

.relative {
  position: relative;
  min-height: 100vh;
}

.bg-gradient-brand {
  background-image: $gradient-background !important;
}

.full-height {
  height: clamp(1px, calc(100vh - 8px - 72px - 38px), 100vh);
}
