@import "../variables";

:root {
  --color-brand: #{$color-brand};
  --color-dark: #{$color-dark};
  --color-mid: #{$color-mid};
  --color-light: #{$color-light};
  --color-white: #{$color-white};
  --color-black: #{$color-black};
}

@import "bootstrap/bootstrap-setup";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

@import "~vanilla-cookieconsent/dist/cookieconsent";

@import "./common";
@import "./scrollbar";
