@import "../variables";

:root {
  --color-brand: #{$color-brand};
  --color-dark: #{$color-dark};
  --color-mid: #{$color-mid};
  --color-light: #{$color-light};
  --color-white: #{$color-white};
  --color-black: #{$color-black};
}

@import "bootstrap/bootstrap-setup";

@import "./common";
@import "./scrollbar";
