 /* Phoenix promo and logo */
 .phx-hero {
   text-align: center;
   border-bottom: 1px solid #e3e3e3;
   background: #eee;
   border-radius: 6px;
   padding: 3em 3em 1em;
   margin-bottom: 3rem;
   font-weight: 200;
   font-size: 120%;
 }
 .phx-hero input {
   background: #ffffff;
 }
 .phx-logo {
   max-width: 300px;
   margin: 1rem;
   display: block;
 }
 .phx-logo img {
   max-height: 50px;
   width: auto;
   display: block;
 }
 
 /* Headers */
 header {
   width: 100%;
   background: #fdfdfd;
   /* border-bottom: 1px solid #eaeaea; */
   margin-bottom: 2rem;
 }
 header section {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 header section :first-child {
   order: 2;
 }
 header section :last-child {
   order: 1;
 }
 header nav ul,
 header nav li {
   margin: 0;
   padding: 0;
   display: block;
   text-align: right;
   white-space: nowrap;
 }
 header nav ul {
   margin: 1rem;
   margin-top: 0;
 }
 header nav a {
   display: block;
 }
 
 @media (min-width: 40.0rem) { /* Small devices (landscape phones, 576px and up) */
   header section {
     flex-direction: row;
   }
   header nav ul {
     margin: 1rem;
   }
   .phx-logo {
     flex-basis: 527px;
   }
 }
 