body {
    background-color: #3D065F;
}

.relative {
    position: relative;
    min-height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.footer span {
    color: white;
}

.bg-hergetto-light {
    background-color: #9F19AB;
}

.nav-link {
    color: #fadfef;
}

.nav-link:hover {
    color: #fff;
}

.card {
    margin-bottom: 2rem;
}

.btn-primary {
    background-color: #9F19AB;
    border-color: #9F19AB;
}

.btn-primary:active {
    color: #fff;
    background-color: #91189c;
    border-color: #81189c;
}

.btn-primary:focus {
    color: #fff;
    background-color: #91189c;
    border-color: #81189c;
    box-shadow: 0 0 0 0.2rem rgb(206 38 255 / 50%);
}

.btn-primary:hover {
    color: #fff;
    background-color: #91189c;
    border-color: #81189c;
}

.btn-primary:disabled {
    color: #fff;
    background-color: #b03dbb;
    border-color: #b03dbb;
}

.ow {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    -epub-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -epub-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.table-scrollable {
    overflow-y: auto;
    max-height: 400px;
}

.scrollbar::-webkit-scrollbar {
    width: 15px;
}


.scrollbar::-webkit-scrollbar-track {
    background: #EBEBEB;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #433C76;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #675D9B;
}

.loading {
    max-height: calc(100vh - 82px - 60px - 45px);
}

.featurette-divider {
    margin: 5rem 0;
}