$brand: #6D28D9;
$dark:#0F172A;
$mid:#64748B;
$light: #CBD5E1;
$white: #ffffff;
$black: #000000;

:root {
  --color-brand: $brand;
  --color-dark: $dark;
  --color-mid: $mid;
  --color-light: $light;
  --color-white: $white;
  --color-black: $black;
}
