use Mix.Config

# Get client_id and client_secret by creating a oauth app in https://console.developers.google.com/.
config :ueberauth, Ueberauth.Strategy.Google.OAuth,
  client_id: "",
  client_secret: ""

# Add Google Analytics by setting the tracking id. Leave empty/set to nill to disable Google Analytics.
config :hergetto, HergettoWeb.Helpers.GoogleAnalytics,
  ga_tracking_id: ""

# Fill in the secret_key. You can use `mix guardian.gen.secret` to get one.
config :hergetto, Hergetto.Guardian,
  allowed_algos: ["HS512"], # optional
  verify_module: Guardian.JWT, # optional
  ttl: { 30, :days },
  allowed_drift: 2000,
  verify_issuer: true, # optional
  issuer: "Hergetto",
  secret_key: ""
